
.git
.gitignore
.gitattributes


.idea
.vscode
.vs
.settings
.classpath
.project
.toolstarget
*.swp
*.swo
*.iml
.DS_Store


node_modules
**/node_modules
vendor
**/vendor
.venv
**/__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

dist
build
.next
.cache
bin
obj
coverage
*.sqlite3

.env
.env.*
! .env.example
secrets.*.yaml
values.*.yaml
*.lock
*.sock

#
npm-debug.log
pnpm-debug.log
yarn-error.log
*.log


docker-compose*
compose.y*ml
Dockerfile*
.dockerignore
charts
k8s
docker-data/


README.md
LICENSE
TOLEARN.md
CHANGE.md
screenshots
scenarios

.eslint*
.prettier*
.editorconfig
.styleci.yml

storage/*.key
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/app/public/.gitignore

!api/composer.json
!api/composer.lock
!composer.json
!composer.lock


.git
.github
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
README.md
docker-compose.yml
.editorconfig
.phpunit.result.cache
