.dockerignore
docker-compose.override.yml  # Ignore local-only overrides
docker-compose.dev.yml       # Ignore dev-specific compose files
docker-compose.test.yml      # Ignore test-specific compose files

!Dockerfile
!docker-compose.yml

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
frontend/yjs-wss-db/*
!frontend/yjs-wss-db/some-file-you-want-to-keep
.idea


cypress.env.json
*.local
.env  

.vscode/
!.vscode/extensions.json  # Keep recommended extensions
.idea/
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

build/
coverage/
.cache/
out/

*.sqlite3
*.db

secrets.dev.yaml
values.dev.yaml


