services:
  db_prod:
    networks:
      - notetify-net-prod
    image: postgres:17-alpine
    container_name: notetify-db-prod
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      timeout: 10s
      retries: 10
    restart: always
    user: postgres
    secrets:
      - db-password
    volumes:
      - db-data-prod:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=notetify
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    expose:
      - 5432
    env_file:
      - .env.production

  api_prod:
    networks:
      - notetify-net-prod
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
    container_name: notetify-api-prod
    restart: always
    command: ["/usr/local/bin/entrypoint.prod.sh", "apache2-foreground"]
    ports:
      - "8000:80"
    depends_on:
      db_prod:
        condition: service_healthy
      redis_prod:
        condition: service_healthy
    env_file:
      - .env.production
    volumes:
      - api-storage:/var/www/html/storage

  redis_prod:
    networks:
      - notetify-net-prod
    image: redis:8.0.1-alpine
    container_name: notetify-redis-prod
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 10
    restart: always
    depends_on:
      db_prod:
        condition: service_healthy
    volumes:
      - "redis-data-prod:/data"
    expose:
      - 6379
    env_file:
      - .env.production

  queue_prod:
    networks:
      - notetify-net-prod
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
    container_name: notetify-queue-prod
    restart: always
    # Command runs the queue worker
    command: ["/usr/local/bin/entrypoint.prod.sh", "php", "artisan", "queue:work", "--tries=3", "--timeout=90"]
    depends_on:
      api_prod:
        condition: service_started
    env_file:
      - .env.production
    volumes:
      - api-storage:/var/www/html/storage

  client_prod:
    networks:
      - notetify-net-prod
    build:
      context: ./client
      dockerfile: Dockerfile
      target: production
    container_name: notetify-client-prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      api_prod:
        condition: service_started
    env_file:
      - .env.production
    volumes:
      - ./certs:/etc/nginx/certs:ro

networks:
  notetify-net-prod:
    driver: bridge

volumes:
  db-data-prod: {}
  redis-data-prod: {}
  api-storage: {}

secrets:
  db-password:
    file: db/password.txt
