services:
  db_dev:
    image: postgres:17-alpine
    container_name: notetify-db-dev
    networks:
      - notetify-net-dev
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      retries: 10
    restart: always
    user: postgres
    secrets:
      - db-password
    volumes:
      - db-data-dev:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=notetify
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
      - DB_PORT=5432
      - DB_HOST=db_dev
    expose:
      - 5432
    ports:
      - "5432:5432"
    env_file:
      - .env.development

  redis_dev:
    image: redis:8.0.1-alpine
    container_name: notetify-redis-cache-dev
    networks:
      - notetify-net-dev
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 10
    restart: always
    depends_on:
      db_dev:
        condition: service_healthy
    volumes:
      - redis-data-dev:/data
    ports:
      - "6379:6379"
    env_file:
      - .env.development

  api_dev:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: development
    container_name: notetify-api-dev
    networks:
      - notetify-net-dev
    depends_on:
      db_dev:
        condition: service_healthy
      redis_dev:
        condition: service_healthy
    volumes:
      - ./api:/var/www/html
    ports:
      - "8000:80"
    env_file:
      - .env.development
    command: ["/usr/local/bin/entrypoint.dev.sh", "apache2-foreground"]

  queue_dev:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: development
    container_name: notetify-queue-dev
    networks:
      - notetify-net-dev
    depends_on:
      api_dev:
        condition: service_started
    volumes:
      - ./api:/var/www/html
    env_file:
      - .env.development
    command: ["/usr/local/bin/entrypoint.dev.sh", "php", "artisan", "queue:work", "--tries=3", "--timeout=90"]

  client_dev:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: development
      args:
        - VITE_BASE_URL=http://localhost:8000/api/
        - VITE_WS_ORIGIN=ws://localhost:8000
        - VITE_APP_NAME=Notetify
        - VITE_CLIENT_URL=http://localhost:3000/
    container_name: notetify-client-dev
    networks:
      - notetify-net-dev
    depends_on:
      api_dev:
        condition: service_started
    volumes:
      - ./client:/usr/src/app
      - node_modules_client-dev:/usr/src/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - VITE_BASE_URL=http://localhost:8000/api/
      - VITE_WS_ORIGIN=ws://localhost:8000
      - VITE_APP_NAME=Notetify
      - VITE_CLIENT_URL=http://localhost:3000/
    env_file:
      - .env.development
    command: ["/bin/sh", "./entrypoint.sh"]

networks:
  notetify-net-dev:
    driver: bridge

volumes:
  redis-data-dev: {}
  db-data-dev: {}
  node_modules_client-dev: {}

secrets:
  db-password:
    file: db/password.txt
