asgiref
Django
django-cors-headers
django-otp
django-braces
djangorestframework
django-extensions
djangorestframework-simplejwt
psycopg2-binary
PyJWT
PyMySQL
django-storages
python-dotenv
arrow
django-environ
pytz
sqlparse
tzdata
pytest
gunicorn
pytest-cov
pytest-django
cryptography
daphne
channels
channels_yroom
django-jazzmin
Pillow
django_quill
redis
django_quill
channels_redis
ckeditor