asgiref
Django
django-filter
django-cors-headers
django-otp
django-two-factor-auth
django-braces
djangorestframework
django-extensions
djangorestframework-simplejwt
psycopg2-binary
django-quill-editor
PyJWT
django-redis
PyMySQL
django-storages
python-dotenv
arrow
django-environ
pytz
sqlparse
tzdata
pytest
gunicorn
pytest-cov
pytest-django
cryptography
daphne
channels
channels-yroom
django-jazzmin
Pillow
django-quill
django-rest-passwordreset
redis
channels-redis
django-ckeditor
whitenoise
yroom
environ  
uvicorn
websockets
redis[hiredis]
django-silk
