.sidenav {
	z-index: 200px;
	position: fixed;
	left: 0;
	top: 82px;
	height: 100vh;
	background-color: rgb(32, 33, 36);

	transition: width 0.5s ease;
	display: flex;
	flex-direction: column;
}

.sidenav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: hidden;
	overflow-x: hidden;
}

.sidenav-item,
.sidenav-item-add-tag {
	width: 210px;
	height: 30px;
	display: flex;
	flex-direction: row;
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(32, 33, 36);
	font-size: 16px;
	font-weight: 500;
	color: white;
	transition: all 0.3s ease;
	cursor: pointer;
}

.title-tags {
	padding: 12px 20px;
	margin-top: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-weight: 600;
	color: white;
	height: 24px;
}

.sidenav-item-tags {
	width: 210px;
	height: 28px;
	display: flex;
	flex-direction: row;
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(32, 33, 36);
	font-size: 16px;
	color: white;
	cursor: pointer;
}

.sidenav-item:hover,
.sidenav-item-add-tag:hover,
.sidenav-item-tags:hover {
	background-color: rgb(40, 41, 44);
}

.sidenav-item:active,
.sidenav-item-tags:active {
	background-color: rgb(65, 51, 28);
}

.icon-and-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tags {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.icon {
	color: white;
	font-size: 16px;
}

.tag-actions {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #555;
	border: none;
	border-radius: 12px;
	z-index: 200px;
	height: auto;
	width: 150px;
}

.delete-sidenav-btn,
.edit-sidenav-btn {
	width: 100%;
	color: white;
	font-size: 1rem;
	background-color: #555;
	z-index: 200px;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
}

.sidenav::-webkit-scrollbar {
	width: 0;
}

.sidenav-item-tags button {
	display: none;
}

.sidenav-item-tags:hover button {
	display: flex;
}
