.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(32, 33, 36);
}

.child-container {
    margin-top: 70px; 
    display: flex;
    flex: 1;


}

.SideNav {
    position: fixed;
    left: 0;
    background-color: rgb(24, 25, 28);
    transition: width 0.5s ease;
}

.content-container {
    display: flex;
    flex: 1;
    background-color: rgb(32, 33, 36);
}
