.sidenav {
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgb(32, 33, 36);
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
}

.sidenav-item,
.sidenav-item-add-tag {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32, 33, 36);
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidenav-item-tags {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32, 33, 36);
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.title-tags {
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  color: white;
  height: 45px;
}

.sidenav-item:hover,
.sidenav-item-add-tag:hover 
.sidenav-item-tags:hover {
  background-color: rgb(40, 41, 44);
}

.sidenav-item:active,
.sidenav-item-tags:active {
  background-color: rgb(65, 51, 28);
}

.icon-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon {
  color: white;
  font-size: 18px;
}

.tag-actions {
  position: absolute;
  background-color: #555;
  border: none;
  border-radius: 10px;
  z-index: 999px;
  height: auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-sidenav-btn,
.edit-sidenav-btn {
  width: 100%;
  color: white;
  font-size: 1rem;
  background-color: #555;
  z-index: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
}

.sidenav::-webkit-scrollbar {
  width: 5px;
}

.sidenav::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-track {
  background: rgb(32, 33, 36);
}

.sidenav-item-tags button {
  display: none;
}

.sidenav-item-tags:hover button {
  display: flex;
}
