:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(232, 234, 237);
  background-color: rgb(32, 33, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  width: 500px;
  height: 500px;
  
}

body {
  background-color: background-color;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}
