.container {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top:30px; 
    background-color: rgb(32, 33, 36);
    padding: 10px;
      overflow-x: hidden;
    overflow-y: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
gap: 20px;             
   
}

.all-notes,
.pinned-notes {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;             
  flex-direction: row; 
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;  
 
}
.note-div {
    width: 250px;
    min-width: 200px;
    padding: 10px;
    background-color: rgb(32, 33, 36);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
      margin: 0;  
           

}




